@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #6366f1;
  --primary-foreground: #ffffff;
  --secondary: #171717;
  --secondary-foreground: #a1a1aa;
  --card: #1c1c1c;
  --card-foreground: #ededed;
  --input: #2d2d2d;
  --border: #2d2d2d;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --primary: #6366f1;
  --primary-foreground: #ffffff;
  --secondary: #171717;
  --secondary-foreground: #a1a1aa;
  --card: #1c1c1c;
  --card-foreground: #ededed;
  --input: #2d2d2d;
  --border: #2d2d2d;
}