fastapi
uvicorn[standard]
requests
pydantic
selenium
webdriver-manager
python-dotenv
motor   
pymongo
google.generativeai
faiss-cpu 
sentence-transformers
google-api-python-client
google-auth-oauthlib
google-cloud-speech
pytest
crawl4ai
playwright
dateparser
